<h1>@ViewBag.Title</h1>
<p>Ciao questo è un errore. Non sappiamo cos'è successo, però ohsuccede... Siamo umani</p>
<p>
    <a asp-controller="Courses" asp-action="Index">Torna al catalogo dei corsi</a>
</p>