<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettaglio del corso</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>header1</li>
            <li>header2</li>
            <li>header3</li>
            <li>header4</li>
            <li>header5</li>
        </ul>
    </nav>
    <h1>Sono una view, ho fatto questo percorso -> HomeController -> Funzione Index() -> Home - index.cshtml</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat quasi, odio sunt omnis veritatis sint, asperiores expedita quibusdam est aperiam deleniti dolorum deserunt animi suscipit eaque facilis quos, a tempore.</p>
<p>Nulla sequi fugit iure alias nemo dolorem omnis eaque necessitatibus. Laudantium deleniti, accusamus minus eaque perferendis nulla fuga tempore. Esse deleniti commodi provident enim minima eos illo aut cumque doloremque.</p>
<p>Architecto hic laboriosam sapiente quis quod beatae nobis ipsam nulla doloribus minus, veniam laudantium excepturi recusandae harum corrupti itaque pariatur cumque maxime assumenda eius repellendus eaque! Enim iure consectetur facilis.</p>
<p>Pariatur vitae repellat, dicta officia nesciunt expedita perspiciatis nam ullam, quia ea, sint ducimus iusto quibusdam iure vel? Est quae minima amet doloribus ab. Neque asperiores incidunt vero consequatur voluptatem.</p>
<p>Nam vitae esse quam atque sunt cumque laborum ab incidunt veritatis consequatur, quasi accusamus voluptates id iure magnam! Blanditiis voluptatibus eius officia dignissimos autem dolores ipsam facere ipsa doloremque provident.</p>
</header>
<footer>
    <p>Contattaci al numero . . .</p>
</footer>
</body>
</html>