@model HomeViewModel
<div class="jumbotron">
    <h1 class="display-4">Benvenuto su MyCourse!</h1>
    <div class="row">
        <div class="col-md-7">
            <p class="lead d-flex align-items-center">Siamo tipo Udemy però più brutto!<br>Ti invitiamo a seguire i
                nostri corsi, grazie ai quali imparerai un sacco di cose! Ad esempio, lo sapevi che in termi di
                ibridazione Vaporeon è . . .</p>

        </div>
    </div>
    <hr class="my-4">
    <p><a asp-controller="Courses" asp-action="Index" class="btn btn-primary"> Sfoglia il catalogo dei nostri corsi <i
                class="fab fa-accessible-icon"></i></a></p>
    <p></p>
</div>
<section>
    <h2>Aggiunti di recente</h2>
    @foreach (CourseViewModel course in Model.MostRecentCourses)
    {
        <!--Usiamo la partial view che si trova in View Courses\_CourseLine\cshtml per evitare di scrivere lo stessi codice un triliardo di volte -->
        <partial name="Courses/_CourseLine" model="@course"></partial>
    }

</section>

<section>
    <h2>Più votati</h2>
    @foreach (CourseViewModel course in Model.BestRatingCourses)
    {
        <!--Usiamo la partial view che si trova in View Courses\_CourseLine\cshtml per evitare di scrivere lo stessi codice un triliardo di volte -->
        <partial name="Courses/_CourseLine" model="@course"></partial>
    }
</section>